.about__section{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    color: #fff;
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    text-align: center;
    background-color: #3F3871;
    z-index: 9998;
}

.about__section p {
    line-height: 1.6;
    font-size: 1.2rem;
    width: 100%;
    padding: 0 2rem;
}
