.feature__section{
    width: 100vw;
    height: 100svh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
     perspective: 850px;
}
.card{
    width: 663px;
    height: 254px;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform-origin: center bottom;
    will-change: transform;
   
}
.card__details{
    display: flex;
    justify-content: center;
    gap: 1rem;
    flex-direction: column;
}
.card__header{
    font-family: var(--font-inter);
    font-weight: 600;
    font-size: 2rem;
    letter-spacing: -6%;
    color: var(--primary);
}
.card__description{
    font-family: var(--font-inter);
    font-weight: 500;
    font-size: 1rem;
    line-height: 24px;
    letter-spacing: -6%;
    color: var(--primary);
}
.card__0 {
    z-index: 5;
}
.card__1 {
    z-index: 4;
}
.card__2 {
    z-index: 3;
}
.card__3 {
    z-index: 2;
}
.card__4 {
    z-index: 1;
}

@media screen and (max-width: 768px) {
    .card{
        width: calc(100% - 4rem);
        height: 75%;
    }
}