*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root{
  --font-inter: 'Inter', sans-serif;  
  --cta: #7364DE;
  --primary: #fff;
  --secondary: #000;
  --auxilary: #535353;
}
body {
  background-color: #F8F7FF;
}
.nav__wrapper{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

}